/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  color: rgb(84, 83, 83);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}
.project nav {
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2%;
  font-size: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
}
.project nav a {
  color: rgb(84, 83, 83);
}
.project nav #i1 {
  display: none;
}
.project nav .NAV, .project nav form, .project nav .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.project nav p {
  -webkit-transition: background-color 0.7s ease-in;
  -o-transition: background-color 0.7s ease-in;
  transition: background-color 0.7s ease-in;
}
.project nav p:hover {
  background-color: lightgrey;
  color: #fff;
  padding: 3px;
  margin: 5px;
  border-style: solid;
  border-radius: 10px;
}
.project nav i:hover {
  color: lightgray;
}
.project .search1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
}
.project .icons1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40%;
}
.project input {
  border-radius: 40px;
  background-color: rgba(217, 217, 217, 0.5019607843);
  border-color: rgba(217, 217, 217, 0.5019607843);
}
.project .search1 input {
  width: 200px;
  height: 35px;
}
.project .Queen-image {
  background-image: url(images-project/Queen1.webp);
  background-position: center;
  width: auto;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgb(172, 8, 8);
  font-size: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 650px;
  font-weight: bolder;
}

.albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 36px;
}
.albums img {
  height: 40px;
  width: 20%;
}

.popular-albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-size: 24px;
}
.popular-albums img {
  width: 243px;
  height: 243px;
}
.popular-albums .album1, .popular-albums .album2, .popular-albums .album3, .popular-albums .album4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7%;
}
.popular-albums :hover {
  color: #fff;
  background-color: lightgray;
  padding: 5px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 10%;
}

.Button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.button2 {
  background-color: rgb(172, 8, 8);
  width: 220px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border-color: rgb(172, 8, 8);
}
.button2 a {
  color: #fff;
}

.Info-Queen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  background-image: url(images-project/queen\ members\ 2.jpg);
  background-size: cover;
  color: rgb(172, 8, 8);
  height: 650px;
  background-position: center;
}
.Info-Queen .button3 {
  background-color: rgb(172, 8, 8);
  width: 220px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border-color: rgb(172, 8, 8);
  text-align: center;
  background-color: rgb(172, 8, 8);
  border-color: rgb(172, 8, 8);
}
.Info-Queen .button3 a {
  color: #fff;
}
.Info-Queen p {
  font-size: 60px;
  font-weight: bolder;
}

.QUEEN {
  height: 333px;
  width: auto;
  background-color: rgb(172, 8, 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-style: solid;
  border-color: rgb(172, 8, 8);
  font-size: 40px;
  color: #fff;
}

footer {
  width: auto;
  height: auto;
  background-color: #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
}
footer p:hover {
  color: gray;
}

.end-logo {
  margin-left: 3%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
  gap: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-right: 5%;
  gap: 25%;
}
.icons2 i:hover {
  color: gray;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  width: 20%;
  margin-left: 3%;
}

footer form {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  margin-right: 5%;
}
footer form input {
  width: 339px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}
footer form button {
  border-radius: 10px;
  border-color: rgb(172, 8, 8);
  height: 50px;
  color: #fff;
  background-color: rgb(172, 8, 8);
  font-size: 20px;
}

.contact-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 60%;
  -ms-grid-column-align: center;
      justify-self: center;
  gap: 15%;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.Contact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 5%;
  margin-left: 3%;
  margin-bottom: 2%;
}
.Contact1 i:hover {
  color: gray;
}

.end-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
}

.end-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

i {
  font-size: 25px;
}

@media screen and (max-width: 1400px) {
  .project .icons1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .popular-albums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav {
    padding-bottom: 2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project nav #i1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav p, i, nav div, div.search1 i, nav input, nav form {
    display: none;
  }
  .pages, .email, footer button {
    display: none;
  }
  .contact-all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .end-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 768px) and (max-width: 426px) {
  .albums {
    font-size: 24px;
  }
  .QUEEN {
    font-size: 24px;
  }
  .icons2 {
    margin-right: 10%;
  }
}
@media screen and (max-width: 768px) and (max-width: 321px) {
  .icons2 {
    font-size: 5px;
    gap: 2px;
  }
  .project .Queen-image {
    font-size: 35px;
    font-weight: bolder;
  }
  .Contact1 {
    font-size: 16px;
    gap: 10px;
  }
}
